<div class='user'>
    <h1>2ème composant</h1>
    <h3>Le 'selector' du user.composant est à insérer dans le composant principal : app.component.html</h3>
    <p>Cette fois tout la stylisation est en SASS cela ce fait depuis depuis une ligne de commande au départ de votre projet ou bien en changeant directement le nom de votre fichier attention de bien modifier le nom sur le component dans ce cas mais encore
        dans le fichier angular-cli.json</p>
    <p>Insertion d'une image avec assets / image => nom de l'image :</p>
    <img src="../assets/images/typescript.png" alt="typescript">
</div>